.offers-container {
    margin-top: 50px;
    flex-direction: column;
}

.desc {
    margin-bottom: 50px;
    margin-left: 50px;
    display: flex;
    text-align: center;
}

@media (max-width: 550px) {
    .offers-item {
        margin-left: 0;
        margin-bottom: 50px;
    }
}

@media (min-width: 550px) {
    .offers-container {
        display: flex;
        flex-direction: column;
    }
    .desc {
        text-align: left;
        align-self: center;
        width: 80vw;
        margin-left: auto;
    }
}

.img__photo {
    display: flex;
    justify-content: center;
}
